.new-input, .btn-submit{
    background: #d0cfcf;
    color: #fff;
    border:none;
    border-radius: 30px;
    font-size: 14px;
    padding: 7px 10px;
    cursor: pointer;
    transition: all 0.2s linear;
}

.new-input:hover, .btn-submit:hover{
    background: linear-gradient(to left, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
}

.new-input:focus{
    outline: none
}

.content-note{
    background: #fff;
    padding: 20px;
    border-radius: 5px;
}